.app {
    max-height: 100vh;
    overflow: hidden;
}

.entity-swiper {
    max-height: calc(100vh - 240px);
    min-height: calc(100vh - 240px);
    width: 100%;
}

.entity-image {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.entity-image_cover {
    object-fit: cover;
    padding: 5px;
}

.entity-image_contain {
    object-fit: contain;
}

.right-sidebar {
    height: calc(100vh - 120px);
}

.tool-tab {
    min-width: 50px !important;
}

.main-canvas {
    height: 100%;
}

.main-canvas .konvajs-content {
    height: 100% !important;
}

.main-canvas .konvajs-content canvas {
    height: 100% !important;
}

.hidden-input {
    clip: rect(0 0 0 0);
    clipPath: inset(50%);
    height: 1;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    whiteSpace: nowrap;
    width: 1;
}